pics/
scrapping_code/
node_modules/
mtlhistory/media/
mtlhistory/frontend/static/frontend/img/
mtlhistory/settings.ini
mtlhistory/manage.py
mtlhistory/mtlhistory/settings_old.py
mtlhistory/mtlhistory/settings/development.py
mtlhistory/mtlhistory/settings/production.py
mtlhistory/mtlhistory/wsgi.py
static
static/
