pics/
scrapping_code/
node_modules/
.env
mtlhistory/media/
mtlhistory/media/images/
mtlhistory/frontend/static/frontend/img/
mtlhistory/settings.ini
mtlhistory/manage.py
mtlhistory/mtlhistory/settings_old.py
mtlhistory/mtlhistory/settings/development.py
mtlhistory/mtlhistory/settings/production.py
mtlhistory/mtlhistory/settings/production_2.py
mtlhistory/mtlhistory/wsgi.py
mtlhistory/wsgi.py
mtlhistory/memories/migrations/
OLD_*.js
Old_*.js
static
static/



