      #map, #pano, #memory {
        float: left;
        height: 100%;
        width: 50%;
      }

      #infoWindowContent{
        width:800px;
        height:400px;
      }
      

      #map_input, #pano_input, #memory_input {
        float: left;
        height: 100%;
        width: 33%;
      }

      #infoWindowContent_input{
        width:1200px;
        height:400px;
      }


